@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Gelasio;
  src: url("../fonts/Gelasio-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Ribeye;
  src: url("../fonts/Ribeye-Regular.ttf");
  font-weight: 400;
}
