:root {
  --white: #fff;
  --black: #000;
  --red: #c9453b;
  --red-hover: #972820;
  --green: #10ac84;

  --shadow: rgba(0, 0, 0, 0.4);
  --shadow-light: rgba(0, 0, 0, 0.15);
  --rgba-white: rgba(255, 255, 255, 0.7);
}
