.button {
  position: relative;
  background-color: var(--red);
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  border: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
