.button {
  position: relative;
  background-color: var(--red);
  font-size: 16px;
  line-height: 55px;
  text-align: center;
  color: var(--white);
  border: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: linear 250ms;
}

.button:hover {
  background-color: var(--red-hover);
}
