.section-header {
  text-align: center;
  margin-bottom: 50px;

  &__title {
    font-family: "Gelasio", "Roboto", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;

    margin-bottom: 20px;
  }

  &__desc {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    opacity: 0.6;
  }
}
